<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLAyout/HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("/Views/AdminLAyout/PreLoaderPartial.cshtml")

    <div id="main-wrapper">

        @await Html.PartialAsync("/Views/AdminLAyout/NavHeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLAyout/HeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLAyout/SidebarPartial.cshtml")

        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @await Html.PartialAsync("/Views/AdminLAyout/FooterPartial.cshtml")

    </div>

    @await Html.PartialAsync("/Views/AdminLAyout/ScriptPartial.cshtml")


</body>

</html>

