@model List<StaffViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_adminLayout.cshtml";
}

<h1>Staff Sayfası</h1>


<table class="table table-bordered">
    <tr>
        <th>*</th>
        <th>Personel Adı</th>
        <th>Personel Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StaffID</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a class="btn btn-danger color-white">Sil</a></td>
            <td><a class="btn btn-success">Güncelle</a></td>
            <td><a class="btn btn-dark">Detaylar</a></td>
        </tr>
    }

</table>
