@model List<StaffViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_adminLayout.cshtml";
}

<h4 class="card-title">Personel Listesi</h4>
<div class="table-responsive">
    <table class="table header-border table-hover verticle-middle">
        <thead>
            <tr>
                <th scope="col">*</th>
                <th scope="col">Personel Adı</th>
                <th scope="col">Personel Ünvan</th>
                <th scope="col">Sil</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StaffID</td>
                    <td>@item.Name</td>
                    <td>@item.Title</td>
                    <td><a href="/Staff/DeleteStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
                    <td><a href="/Staff/UpdateStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
                    <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Personel Girişi</a>
</div>




